[submodule "sprm"]
	path = sprm
	url = https://github.com/hubmapconsortium/sprm
[submodule "create-vis-symlink-archive"]
	path = create-vis-symlink-archive
	url = https://github.com/hubmapconsortium/create-vis-symlink-archive
[submodule "codex-pipeline"]
	path = codex-pipeline
	url = https://github.com/hubmapconsortium/codex-pipeline
